.btn-update-movie {
    font-size: 18px;
    text-align: center;
    background: rgb(186, 186, 186) !important;
    color: black;
    border-radius: 30px;
    border: none;
    width: 280px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-update-movie:hover {
    background-color: rgb(137, 137, 137) !important;
    -webkit-transition: all 0.2s ease;
    color: black;
    transition: all 0.2s ease;
}

input, select {
    width: 100%;
    height: 60px;
    padding: 0 0 0 10px;
    margin: 0;
    background: rgb(233, 233, 233);
    border: none;
    border-radius: 0px;
    color: black;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
input:active, select:active {
border: none !important;
}

.input-form-label {
    text-align: left !important;
    font-size: 18px !important;
  }

.center-inputs {
    text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}